.footer {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(70, 70, 173, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
